# ASP.NET Core
bin/
obj/
*.db
*.sqlite
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs/
.vscode/
appsettings.*.json
appsettings.json
.env
*.log
*.DS_Store
node_modules/
wwwroot/lib/
# Rider
.idea/
# Visual Studio Code
.history/
# OS
Thumbs.db
.DS_Store
# Others
*.swp
*.tmp
*.bak
*.orig
*.rej
# Build
/dist
/build
# Test
/TestResults
